.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 219, 229);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.icon{
  border: lightpink;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 50%;

}


/*フローチャート用*/

.nav{
  list-style: none;
  display: flex;
  overflow: hidden;
  margin: 20px;
}

.nav li{
width: 140px;
text-align: center;
/*float: left;*/
}

.nav li:nth-child(odd){
background-color: lightslategray;
/*float: left;*/
}
.nav li:nth-child(3){
background-color: tomato;
/*float: left;*/
}

.nav li:nth-child(even){

width: 30px;

}
